<button id="add" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary"
(click)="setStatus(0);name.value='';picture.value='';fileToUpload=null">Thêm Sản Phẩm</button>
<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
          (change)="searchTitle()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
</div>
<div></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Ảnh mô tả</th>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }; let i = index">
            <td>{{i}}</td>
            <td>
                <img id="picture{{i}}" src="http://localhost:8080/api/getimage/{{products[i].picture}}"
                    alt="ảnh hoa quả">
            </td>
            <td>{{products[i].name}}</td>
            <td>{{products[i].price|currency}}</td>
            <td><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-secondary"
                (click)="setStatus(1);getProductbyId(product.id);picture.value=''">Edit</button>
            </td>
            <td><button type="button" class="btn btn-secondary" (click)="deleteProduct(product.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
<!-- The Modal -->
<!-- <form> -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin sản phẩm </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" class="form-control"  #id value="{{product1.id}}" >
                <div class="form-group">
                    <label for="usr">Tên sản phẩm:</label>
                    <input type="text" class="form-control" #name value="{{product1.name}}">
                </div>
                <div class="form-group">
                    <label for="usr">Ảnh:</label><br>
                    <input type="file" id="file" #picture value="{{product1.picture}}" (change)="selectFile($event)">
                </div>
                <div class="form-group">
                    <label for="usr">Giá:</label>
                    <input type="number" class="form-control" #price value="{{product1.price}}">
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" *ngIf="status==0;" class="btn btn-danger" data-dismiss="modal" (click)="addProduct(name.value,price.value);
                name.value='';picture.value='';price.value='';">Thêm</button>
                <button type="button" *ngIf="status==1" class="btn btn-danger" data-dismiss="modal" (click)="updateProduct(id.value,name.value,price.value);">Sửa</button>
            </div>

        </div>
    </div>
</div>
<!-- </form> -->