<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>UserName</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Order Date</th>
            <th>Shipped Date</th>
            <th>Chi Tiết Đơn Hàng</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders ; let i = index">
            <td>{{i}}</td>
            <td>{{order.username}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.address}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.shippeddate}}</td>
            <td><button type="button" class="btn btn-secondary"  data-toggle="modal" data-target="#myModal1" (click)="getOrderDetail(order.id)">Chi tiết</button></td>
            <td><button type="button" class="btn btn-secondary">Edit</button></td>
            <td><button type="button" class="btn btn-secondary">Delete</button></td>
        </tr>
    </tbody>
</table>
<!-- =================== -->
<!-- The Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" >Chi tiết đơn hàng</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thành Tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of items ; let i = index">
                        <td>
                            <img src="http://localhost:8080/api/getimage/{{item.product.picture}}"
                    alt="ảnh hoa quả">
                        </td>
                        <td>{{item.product.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.price|currency}}</td>
                        <td>{{ item.product.price*item.quantity|currency }}</td>
                      </tr>
                      <tr>
                          <td colspan="4">Total:</td>
                          <td>{{sum|currency}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>